.flex-container{
    display: flex;
    flex-direction: column;
}
#head-wrapper{
    /* display:flex; */
    height:50px;
    background-color: #54545e;
}
#table-wrapper{
    /* display:flex; */
    height:800px;
    background-color:#b9d6d5
}